main{
    padding-top: 0;
}
/*---------------------
   fv画面
--------------------*/
.fv{
    position: relative;
    width: 100%;
    min-height: auto;
    height: auto;
    background-image: url(../images/fv/fv.png);
    background-position: center;
    background-size: cover;
   .container{
        padding:60px 0 0; /*-headerの高さ60px-*/
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fv-container{
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;
       padding: 100px 10px 80px;
    }
    .fv-container .fv-copy{
        color: var(--color-accent);
        text-align: center;
        margin-bottom: 5rem;
        & .observer-text{
            opacity: 0;
            transform: translateX(-80px);
            transition: opacity 1.2s ease,
                        transform 1.2s ease;
        }
        /* 1行目 */
        & .fv-subtitle.observer-text{
            transition-delay: 0s;
        }
        /* 2行目 */
        & h1.observer-text{
            transition-delay: 0.4s;
        }
        /* 3行目 */
        & .fv-description.observer-text{
            transition-delay: 0.8s;
        }
        & .observer-text.is-active{
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    .fv-container .box-items{
        width:100%;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        & .left-box,
        & .center-box, 
        & .right-box{
            width: calc((100% - 10px) / 3);
            aspect-ratio: 1/1; /*- 横幅に合わせて縦幅も同じ幅になる -*/
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }
/*------
左側box
-------*/
    .container .left-box .left-upper{
        height: 70%;
        display: flex;
        gap: 5px;
        & .left-item_1{
            width: 40%;
            height: 100%;
            background-image: url(../images/fv/flower_04.jpg);
            background-position: center;
            background-size: cover;
        }
        & .left-item_2{
            width: 60%;
            height: 100%;
            background-image: url(../images/fv/flower_02.jpg);
            background-position: right;
            background-size: cover;
        }
    }
    .container .left-box .left-lower{
        height: 30%;
        display: flex;
        gap: 5px;
        & .left-item_3{
            width: 70%;
            height: 100%;
            background-image: url(../images/fv/bottle_02_small.jpg);
            background-position: center;
            background-size: cover;
        }
        & .left-item_4{
            width: 30%;
            height: 100%;
            background-image: url(../images/fv/tree_01.jpg);
            background-position: center;
            background-size: cover;
        }
    }
/*------
真ん中box
-------*/
    .container .center-box .center-upper{
        width: 100%;
        height: 30%;
        display: flex;
        gap: 5px;
        & .center-item_1{
            width: 70%;
            height: 100%;
            background-image: url(../images/fv/bottle_01.jpg);
            background-position: center;
            background-size: cover;
        }
        & .center-item_2{
            width: 30%;
            height: 100%;
            background-image: url(../images/fv/flower.jpg);
            background-position: center;
            background-size: cover;
        }
    }
    .container .center-box .center-lower{
        width:100%;
        height: 70%;
        display: flex;
        gap: 5px;
        & .center-item_3{
            width: 30%;
            height: 100%;
            background-image: url(../images/fv/flower_02.jpg);
            background-position: center;
            background-size: cover;
        }
        & .center-item_4{
            width: 70%;
            height: 100%;
            background-image: url(../images/fv/water_small.jpg);
            background-position: center;
            background-size: cover;
        }
    }
/*------
右側box
-------*/
    .container .right-box .right-upper{
        width: 100%;
        height: 70%;
        display: flex;
        gap: 5px;
        & .right-item_1{
            width: 70%;
            height: 100%;
            background-image: url(../images/fv/flower_03.jpg);
            background-position: left;
            background-size: cover;
        }
        & .right-item_2{
            width: 30%;
            height: 100%;
            background-image: url(../images/fv/tree_01.jpg);
            background-position: left;
            background-size: cover;
        }
    }
    .container .right-box .right-lower{
        width: 100%;
        height: 30%;
        display: flex;
        gap: 5px;
        & .right-item_3{
            width: 50%;
            height: 100%;
            background-image: url(../images/fv/bottle_03.jpg);
            background-position: left;
            background-size: cover;
        }
        & .right-item_4{
            width: 50%;
            height: 100%;
            background-image: url(../images/fv/oil.jpg);
            background-position: center;
            background-size: cover;
        }
    }
}/*- fv終わり -*/



/*----------------
　fvのBoxのobserve
---------------*/
.fv {
    /* BOXアニメーション */
    .box-items {
        & > .left-box,
        & > .center-box,
        & > .right-box {
            opacity: 0;
            transition:
                transform 1s ease,
                opacity 0.8s ease;
        }

        /* 左 */
        & > .left-box {
            transform: translateX(-100px) translateY(50px);
            transition-delay: 0s;
        }

        /* 中央 */
        & > .center-box {
            transform: translateY(-80px);
            transition-delay: 0.25s;
        }

        /* 右 */
        & > .right-box {
            transform: translateX(100px) translateY(50px);
            transition-delay: 0.5s;
        }

        /* IntersectionObserverで表示された状態 */
        &.is-active {
            & > .left-box,
            & > .center-box,
            & > .right-box {
                opacity: 1;
                transform: translate(0);
            }
        }
    }
}

/*--------------------
    fv レスポンシブ
 ---------------------*/
@media (max-width: 768px){
    .fv{
        min-height: auto;
        background-image: url(../images/fv/fv-sp.png);
        background-position: center top;
        background-size: cover;
    }
    .fv .fv-container{
        padding: 90px 15px 60px;
        height: auto;
    }
    /* BOX同士 */
    .fv .fv-container .box-items{
        gap: 3px;
    }
    /* BOX内部の上下 */
    .fv .fv-container .box-items > .left-box,
    .fv .fv-container .box-items > .center-box,
    .fv .fv-container .box-items > .right-box{
        width: calc((100% - 6px) / 3);
        gap: 3px;
    }
    /* BOX内部の左右 */
    .fv .fv-container .left-box .left-upper,
    .fv .fv-container .left-box .left-lower,
    .fv .fv-container .center-box .center-upper,
    .fv .fv-container .center-box .center-lower,
    .fv .fv-container .right-box .right-upper,
    .fv .fv-container .right-box .right-lower{
        gap: 3px;
    }
}

/*--------------------
    about
 ---------------------*/
.about{
    padding: 10rem 0;
    background-image: url(../images/about/about_back.jpg);
    background-position: center;
    background-size: cover;
    .about-heading{
        text-align: left;
        margin-bottom: 6rem;
    }
    .about-heading .about-en{
        display: flex;
        flex-direction: column;
        color: var(--color-accent);
        font-size: 2.5rem;
        letter-spacing: 0.2rem;
        margin-bottom: 2rem;
    }
    .about-heading .about-en::after{
        content: "";
        display: inline-block;
        height: 2px;
        width: 30%;
        background-image: var(--gradient-line);
        margin-top: 0.8rem;
    }
    .about-heading h2{
        font-size: 4rem;
        line-height: 1.5;
        margin-bottom: 1.5rem;
        font-weight: 400;
    }
    .about-heading .about-subtitle p{
        font-size: 2rem;
        line-height: 1.8;
    }

    .about-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 4rem;
    }
    /*- 左側の文章 -*/
    .about-content .about-copy{
        font-size: 2.5rem;
        line-height: 2;
        & .about-lead{
            font-size: 3rem;
            margin-bottom: 2rem;
            color: var(--color-accent);
            line-height: 1.8;
        }
        & p + p{
            margin-top: 2rem;
        }
    }
    .about-content .about-copy p:not(.about-lead) {
    font-size: 2rem;
    }
    /*- 右側のボトル画像 -*/
    .about-content .about-visual{
        position: relative;
        min-height: 45rem;
    }
    .about-content .about-visual .about-bottle{
        position: absolute;
        z-index: 1;
        width: 90%;
        right: 0;
        bottom: 0;
        & img{
            display: block;
            width: 100%;
            height: auto;
           
        }
    }
}

/*--------------------
   about レスポンシブ
 ---------------------*/
@media screen and (max-width:768px) {
    .about{
        padding: 6rem 0;
    }
    .about .about-heading{
        margin-bottom: 4rem;
    }
    .about .about-heading .aboug-en{
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    .about .about-heading .about-en::after {
        width: 45%;
    }
    .about .about-heading h2 {
        font-size: clamp(2.6rem, 6vw, 3.4rem);
        line-height: 1.5;
    }
    .about .about-heading .about-subtitle p {
        font-size: 1.6rem;
        line-height: 1.8;
    }
    /* 文章とボトルを縦並びにする */
    .about .about-content{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .about .about-content .about-copy p:not(.about-lead) {
        font-size: 1.6rem;
        line-height: 1.9;
    }
     .about .about-content .about-visual {
        min-height: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
    }
    /* ボトルサイズ */
    .about .about-content .about-visual .about-bottle {
        position: relative;
        width: min(75%, 30rem);
        right: auto;
        bottom: auto;
    }
}





/*--------------------
   product
 ---------------------*/






/*--------------------
   news
 ---------------------*/





/*--------------------
   contact
 ---------------------*/

    


/*--------------------
     フッター
 ---------------------*/
